.cell{
    background-color: teal;
    flex: 1;
}

.row{
    display: flex;
    flex-direction: row;
    flex: 1; 
}

.container{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: 100vh;
}

body{
    margin: 0px;
    padding: 0px;
}